<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422376636463-7thuvh08oriiriehegrgfug8cdtvob1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422376636463-7thuvh08oriiriehegrgfug8cdtvob1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCXm9griZyNBMEINRlKO7HlLWRIILmJ-yk</string>
	<key>GCM_SENDER_ID</key>
	<string>422376636463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CreditCardList.com.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-b1a07</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-b1a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422376636463:ios:26faacd8bd927a4c9a06da</string>
</dict>
</plist>