<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460744789961-03ncr427n9k8f918pif1a31m2817a7h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460744789961-03ncr427n9k8f918pif1a31m2817a7h0</string>
	<key>API_KEY</key>
	<string>AIzaSyCBr5hIY4007oO6IJHXEhWhyrzDW2JtUZU</string>
	<key>GCM_SENDER_ID</key>
	<string>460744789961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SpotifyLoginSampleApp.com.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>sample-app-efd1a</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-app-efd1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460744789961:ios:07b804b6c7bb2a7777a218</string>
</dict>
</plist>