<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758399047541-7q4h0qg6s6h2k188vmhvtf9huvm6va85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758399047541-7q4h0qg6s6h2k188vmhvtf9huvm6va85</string>
	<key>API_KEY</key>
	<string>AIzaSyAjco-e4oOS-0YfwTFE6gUTb4He0gIdqFg</string>
	<key>GCM_SENDER_ID</key>
	<string>758399047541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SpotifyLoginSampleApp.com.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-sample-app-12948</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-sample-app-12948.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758399047541:ios:d3cfe80e2cfa63c0d8253c</string>
</dict>
</plist>